body
{
    background-size: cover;
}

.heading
{
    width: 100%;
    margin: 0;
}

#header
{
    font-size: 23px;
}

#note
{
    font-size: 15px;
}

#find
{
    width: 30%;
}

#start, .status, .object
{
    font-size: 18px;
}

canvas
{
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
    border: 2px dotted black;
}